[phases.setup]
nixPkgs = ["nodejs-18_x"]

[phases.install]
cmds = [
  "npm ci"
]

[phases.build]
cmds = [
  "npm run build --workspace=packages/shared",
  "npm run build --workspace=apps/backend"
]

[start]
cmd = "node apps/backend/dist/main.js"
